/* Poppins Google Font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #D4ECDD;
}
.wrapper{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: linear-gradient(45deg, #7b00e0, #ae31d9);
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    text-align: center;
}
.wrapper .img{
    width: 250px;
    height: 250px;
}
.wrapper .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
}
.wrapper .box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .card{
    margin-top: 10px;
}
.wrapper .card .dialogue-box .text{
    font-size: 30px;
    color: #fff;
}
.wrapper .card .dialogue-box .place{
    color: #fff;
    font-size: 17px;
}
.wrapper .card .col{
    margin-top: 10px;
}
.wrapper .card .col p{
    color: #fff;
}
.wrapper .card .button-box{
    margin-top: 20px;
    margin-bottom: 8px;
    display: flex;
}
.wrapper .card .button-box button{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    cursor: pointer;
    border: 2px solid #fff;
    transition: .2s ease-in;
}
.wrapper .card .button-box button.follow{
    margin-left: 10px;
    background: none;
    border-color: #fff;
    color: #fff;
}
.wrapper .card .button-box button.follow:hover{
    background: #fff;
    border-color: transparent;
    color: black;
}
.heart{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    animation: fave-heart 1s steps(28);
}
/* JavaScript css Codes */
.heart.active{
    opacity: 1;
    pointer-events: auto;
    background-position: -2800px 0;
    transition: background 1s steps(28);
}
@keyframes fave-heart {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -2800px 0;
    }
}
.icons{
    position: absolute;
    left: 39.5%;
    top: 35%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.icons .fb{
    width: 40px;
    height: 40px;
    background: #fff;
    margin: 20px -50px;
    text-align: center;
    border-radius: 50%;
    opacity: 0;
    transition: .6s ease;
}
.icons .fb i{
    line-height: 40px;
    font-size: 28px;
    color: blueviolet;
}

.icons .inst{
    width: 40px;
    height: 40px;
    background: #fff;
    margin: 20px -50px;
    text-align: center;
    border-radius: 50%;
    opacity: 0;
    transition: .6s ease;
}
.icons .inst i{
    line-height: 40px;
    font-size: 28px;
    color: blueviolet;
}

.icons .yt{
    width: 40px;
    height: 40px;
    background: #fff;
    margin: 20px -50px;
    text-align: center;
    border-radius: 50%;
    opacity: 0;
    transition: .6s ease;
}
.icons .yt i{
    line-height: 40px;
    font-size: 28px;
    color: blueviolet;
}
.wrapper:hover > .icons .inst{
    opacity: 1;
    margin: 20px 20px;
}
.wrapper:hover > .icons .fb{
    opacity: 1;
    margin: 20px 20px;
}
.wrapper:hover > .icons .yt{
    opacity: 1;
    margin: 20px 20px;
}
 
